<template v-if="model">
	<a href="#/{{ model.property }}/new" class="btn btn-success pull-right">Add new {{ model.label | lowercase }}</a>
	<table class="table table-hover">
		<thead>
			<tr>
				<th v-repeat="fields">{{ label }}</th>
			</tr>
		</thead>
		<tbody v-if="entries">
			<tr v-repeat="entry : entries" v-on="click: edit($event, $key)" data-id="{{ $key }}" class="clickable">
				<td v-repeat="fields">{{ entry[property] }}</td>
			</tr>
		</tbody>
		<tbody v-if="!entries">
			<tr>
				<td colspan="{{ model.fields.length }}">
					<em class="text-muted">Loading {{ model.label | lowercase | plural }}&hellip;</em>
				</td>
			</tr>
		</tbody>
	</table>
</template>
