<form v-if="isReady" v-on="submit: save($event)" class="form-horizontal">
	<fieldset>
		<legend v-if="isNew">
			New {{ model.label | lowercase }}
		</legend>
		<legend v-if="!isNew">
			Edit {{ model.label | lowercase }}
			<small class="text-muted pull-right">{{ activeEntry }}</small>
		</legend>

		<div v-repeat="model.fields" v-component="{{ componentFor(type) }}"></div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-2">
				<button class="btn btn-success btn-lg" type="submit">Save</button>
			</div>
		</div>
	</fieldset>
</form>
<em v-if="!isReady" class="text-muted">Loading {{ model.label | lowercase }}&hellip;</em>
