html,
body {
  height: 100%;
}
#app {
  min-height: 100%;
  position: relative;
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-spin {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@media (min-width: 544px) {
  .sidebar-sm {
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.text-monospace {
  font-family: Menlo,Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.btn-list {
  margin: -.2em;
}
.btn-list .btn {
  margin: .2em;
}
