<template v-if="entry">
	<form v-on="submit: save($event)" class="form-horizontal">
		<fieldset>
			<legend v-if="isNew">
				New {{ model.label | lowercase }}
			</legend>
			<legend v-if="!isNew">
				Edit {{ model.label | lowercase }}
				<small class="text-muted pull-right">{{ id }}</small>
			</legend>

			<template v-repeat="field: model.fields">
				<component is="{{ componentFor(field.type) }}" field="{{ field }}" entry="{{ entry }}"></component>
			</template>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<button class="btn btn-success btn-lg" type="submit">Save</button>
				</div>
			</div>
		</fieldset>
	</form>
	<p class="text-right" v-if="!isNew">
		<button v-on="click: remove($event)" type="button" class="btn btn-link">
			Delete this {{ model.label | lowercase }}?
		</button>
	</p>
</template>

<em v-if="!entry" class="text-muted">Loading {{ model.label | lowercase }}&hellip;</em>
